.block {
    margin-top: 50px;
    .details {
        h1 {
            margin-left: -2px;
        }

        width: 50%;
        margin: 0 auto;

        .element {
            border-bottom: 1px solid rgb(223, 227, 235);
            display: flex;
            padding: 10px 0;
            .key {
                width: 200px;
            }
            .value {
                font-weight: 500;
            }
        }
    }
}